@import '../../../styles/constants.scss';

$small-text: 0.85em;

.movieListItem {
    padding: 20px 10px;
    font-size: 0.8rem;
    width: 200px;

    .titleAndYear {
        display: flex;
        align-items: center;
        margin: 10px 0 5px 0;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
            margin-right: 5px;
        }

        .year {
            font-size: $small-text;
            padding: 3px 5px;
            border: 1px solid $primary-border-color;
            border-radius: 4px;
        }
    }

    .genre {
        font-size: $small-text;
    }
}