@import '../../../styles/constants.scss';

.button {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $primary-font-color;
    text-transform: uppercase;
    cursor: pointer;
}