{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {"ie": 11},
                "corejs": 3,
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-private-methods", { "loose": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ]
}
