<app-page-title [text]="news[0]?.source.name"></app-page-title>
<div class="controls">
    <select [formControl]="source" (change)="reloadNews()"  [attr.disabled]="onlyLocal.value ? '' : null">
        <option *ngFor="let source of sources" value="{{source.id}}">{{source.name}}</option>
    </select>
    <div>
        <input type="text" [formControl]="keyWords">
        <input type="button" value="Filter" (click)="reloadNews()">
    </div>
    <label>
        <input type="checkbox" [formControl]="onlyLocal" (change)="reloadNews()">
        <span>Only created by me</span>
    </label>
    <input type="button" value="Add Article" routerLink="/news/create">
</div>
<div class="news-container">
    <div #newsContainer></div>
    <div (click)="loadMore()" class="load-more">Load More</div>
</div>